.app-container {
  /* max-width: 800px; */
  margin: none;
  /* padding: 20px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




.event-card:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.event-list {
  display: flex;
  flex-direction: row; /* Stacks the cards horizontally */
  flex-wrap: wrap; /* Allows the items to wrap as needed */
  justify-content: space-around; /* Distributes space evenly between the cards */
  width:100%;
}

.event-card {
  width: calc(33% - 20px); 
}




h2 {
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.past-event{
  filter:grayscale(100%);
}

.past-event:hover{
  filter:grayscale(0%);
}