/* Events.css */
.events-container {
  margin-bottom: 20px;
}

.events-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.events-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.event-card {
  width: 200px;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform .2s; /* Animation */
}

.event-card:hover {
  transform: scale(1.1); /* (it can go past viewport ) */
}

.event-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.event-card h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.event-card p {
  color: #555;
}
